:root {
  /* Colors */
  --bg-color: #10100e;

  --color-white: #fff;
  --color-black: #000;
  /* Sizes */
  --b-rad-small: 3px;
  --spacing-medium: 20px;

  /* Fonts */
  --font-family-main: sans-serif;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-family: var(--font-family-main);
}