.peopleItem {
  width: 190px;
  margin: 20px;
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: black;
  text-align: center;
}

.photo {
  width: 100%;
  height: 260px;
  object-fit: cover;
  object-position: top center;
}