.peopleItem {
  width: 190px;
  margin: var(--spacing-medium);
  border-radius: var(--b-rad-small);
  background-color: var(--color-white);
  cursor: pointer;
  min-height: 280px;
}

.link {
  text-decoration: none;
  color: var(--color-black);
  text-align: center;
}

.photo {
  width: 100%;
  height: 260px;
  object-fit: cover;
  object-position: top center;
  border-radius: var(--b-rad-small) var(--b-rad-small) 0 0;
}